@font-face {
  font-family: 'iconfont';
  src:  url('fonts/iconfont.eot?ilz8pm');
  src:  url('fonts/iconfont.eot?ilz8pm#iefix') format('embedded-opentype'),
    url('fonts/iconfont.ttf?ilz8pm') format('truetype'),
    url('fonts/iconfont.woff?ilz8pm') format('woff'),
    url('fonts/iconfont.svg?ilz8pm#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="yhicon-"], [class*=" yhicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yhicon-attachment:before {
  content: "\e900";
}
.yhicon-yichehui:before {
  content: "\e901";
}
.yhicon-yituihui:before {
  content: "\e902";
}
.yhicon-select-active:before {
  content: "\e903";
}
.yhicon-select-normal:before {
  content: "\e904";
}
.yhicon-return:before {
  content: "\e905";
}
.yhicon-delete-bin:before {
  content: "\e906";
}
.yhicon-delete-mini:before {
  content: "\e907";
}
.yhicon-@:before {
  content: "\e908";
}
.yhicon-pic:before {
  content: "\e909";
}
.yhicon-huifu:before {
  content: "\e90a";
}
.yhicon-right:before {
  content: "\e90b";
}
.yhicon-left:before {
  content: "\e90c";
}
.yhicon-down:before {
  content: "\e90d";
}
.yhicon-up:before {
  content: "\e90e";
}
.yhicon-go:before {
  content: "\e90f";
}
.yhicon-zhihui:before {
  content: "\e910";
}
.yhicon-faqi:before {
  content: "\e911";
}
.yhicon-daishen:before {
  content: "\e912";
}
.yhicon-menu:before {
  content: "\e913";
}
.yhicon-search:before {
  content: "\e914";
}
.yhicon-delete-circle:before {
  content: "\e915";
}
.yhicon-back-home:before {
  content: "\e916";
}
.yhicon-back:before {
  content: "\e917";
}
