.file-area {
    padding: 10px;
    .btn-browser {
        padding: 10px 15px;
        background-color: deepskyblue;
        border-radius: 2.5px;
        color: #fff;
        font-size: 14px;
        display: inline-block;
    }
}
.image-wrapper {
    img {
        width: 100px;
        height: 100px;
    }
}
