.loading-wrapper {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    img {
        width: 64px;
        height: 64px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}