.input {
    margin: 10px;
    width: 250px;
    height: 35px;
    //line-height: 60px;
    padding: 2px 5px;
    border: 1px solid #ddd;
    font-size: 16px;

    -webkit-appearance: none;
    border-radius: 0;

    &:focus::-webkit-input-placeholder{
        opacity: 0;
    }
}

.file-area {
    padding: 10px;
    .btn-upload {
        width: 50px;
        height: 50px;
        background-color: skyblue;
        position: relative;
        input[type="file"] {
            opacity: 0;
            width: 100%;
            height: 100%;
        }
        label {
            position: absolute;
            top: 10px;
            left: 10px;
            color: #fff;
            font-size: 14px;
        }
    }

    p {
        font-size: 12px;
        color: #333;
        height: 20px;
        line-height: 20px;
    }

    .btn {
        display: inline-block;
        padding: 10px;
        background-color: #1284d6;
        color: #fff;
        font-size: 14px;
        border: 1px solid #ddd; /*no*/
    }
}


