.input {
    margin: 20px;
    width: 500px;
    height: 70px;
    //line-height: 60px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    font-size: 32px;

    -webkit-appearance: none;
    border-radius: 0;

    &:focus::-webkit-input-placeholder{
        opacity: 0;
    }
}

.file-area {
    padding: 20px;
    .btn-upload {
        width: 100px;
        height: 100px;
        background-color: skyblue;
        position: relative;
        input[type="file"] {
            opacity: 0;
            width: 100%;
            height: 100%;
        }
        label {
            position: absolute;
            top: 20px;
            left: 20px;
            color: #fff;
            font-size: 28px;
        }
    }

    p {
        font-size: 24px;
        color: #333;
        height: 40px;
        line-height: 40px;
    }

    .btn {
        display: inline-block;
        padding: 20px;
        background-color: #1284d6;
        color: #fff;
        font-size: 28px;
        border: 1px solid #ddd; /*no*/
    }
}


